* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    height: 15vh;
    background: #444;
    color: #DDD;
}

main {
    background: #EEE;
    height: 85vh;
}

table,
section,
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    padding-top: 5vh;
}

.row td {
    height: 120px;
    width: 120px;
    border: 1px solid #000;
    text-align: center;
    font-size: 2em;
}

#chickenDinner {
    text-align: center;
    margin: 10px;
}

.replay {
    padding: 10px 20px;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    background-color: #7fb1bf;
    box-shadow: 0px 4px #74a3b0;
    color: #fff;
    border: none;
    outline: none;
}

.replay:hover {
    background-color: #74a3b0;
    box-shadow: 0px 4px #7fb1bf;
}

.replay.hidden {
    display: none;
}